# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# IntelliJ/Android Studio
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# macOS
.DS_Store

# Android
**/android/local.properties
**/android/key.properties
**/android/app/debug.keystore

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/GeneratedPluginRegistrant.*
*.xcuserstate

# Web
web/.dart_tool/
web/.firebase/
web/.firebase-sass-cache/

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/CMakeFiles/
linux/flutter/flutter_export.h
linux/CMakeFiles/
linux/Makefile
linux/meson-logs/
linux/build/

# Windows
windows/flutter/ephemeral/
windows/CMakeFiles/
windows/Makefile
windows/*.sln
windows/flutter/generated_plugin_registrant.cc
windows/flutter/flutter_export.h
windows/build/

# Other
*.log
*.lock
*.tmp
*.temp
*.swp
*.swo
*.swm
*.bak
*.sav
